<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
  <add name="dbrrs" connectionString="Data Source=DESKTOP-TVG6FV3;Initial Catalog=pothDB;Integrated Security=True"
   providerName="System.Data.Sqlclient" />
  <add name="dbrtrs" connectionString="Data Source=DESKTOP-TVG6FV3;Initial Catalog=pothDB;Integrated Security=True"
   providerName="System.Data.Sqlclient" />
  <add name="dbtps" connectionString="Data Source=DESKTOP-TVG6FV3;Initial Catalog=pothDB;Integrated Security=True"
   providerName="System.Data.Sqlclient" />
  <add name="dbsps" connectionString="Data Source=DESKTOP-TVG6FV3;Initial Catalog=pothDB;Integrated Security=True"
   providerName="System.Data.Sqlclient" />
  <add name="Poth_Dekho.Properties.Settings.pothDBConnectionString"
   connectionString="Data Source=DESKTOP-TVG6FV3;Initial Catalog=pothDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
</configuration>


